docs/legal/creator-license-2026-07-21/**/*.md text eol=lf
docs/legal/creator-license-2026-07-21/*.csv text eol=lf
docs/legal/creator-license-2026-07-21/*.json text eol=lf
docs/legal/creator-license-2026-07-21/*.txt text eol=lf
