openapi: 3.1.0
info:
  title: VGP Founder OS Bridge
  version: 2026-08-10.1
  description: >-
    Private Codex plugin bridge for sanitized reads, source-backed prospect
    handoff, DRAFT creation, and review requests. It has no final approval or
    external-action operation.
servers:
  - url: https://www.virzyguns.com
security:
  - bearerAuth: []
paths:
  /api/founder/os/bridge/v1/brief:
    get:
      operationId: readFounderOsBridgeBrief
      summary: Read the sanitized founder brief
      responses:
        '200':
          description: Sanitized brief with explicit safety policy
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/founder/os/bridge/v1/catalog:
    get:
      operationId: searchFounderOsBridgeCatalog
      summary: Search the verified public beat catalog
      parameters:
        - in: query
          name: query
          schema: { type: string, maxLength: 200 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 20, default: 10 }
      responses:
        '200':
          description: Verified, available catalog matches
  /api/founder/os/bridge/v1/prospects:
    get:
      operationId: searchFounderOsBridgeProspects
      summary: Search sanitized source-backed prospects
      parameters:
        - in: query
          name: query
          schema: { type: string, maxLength: 200 }
        - in: query
          name: segment
          schema: { type: string, enum: [rapper, game-developer, content-creator] }
        - in: query
          name: market
          schema: { type: string, enum: [en-US, ja-JP, de-DE] }
        - in: query
          name: platform
          schema: { type: string, enum: [instagram, tiktok, youtube, website, other] }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        '200':
          description: Sanitized prospects; business email values are omitted
    post:
      operationId: createFounderOsBridgeProspect
      summary: Store and deterministically score one source-backed prospect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProspectInput'
      responses:
        '201': { description: Prospect created }
        '200': { description: Idempotent replay }
  /api/founder/os/bridge/v1/drafts:
    get:
      operationId: listFounderOsBridgeDrafts
      summary: List DRAFT summaries without private payload bodies
      parameters:
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        '200': { description: DRAFT summaries }
    post:
      operationId: createFounderOsBridgeDraft
      summary: Create an idempotent DRAFT only
      description: >-
        The result remains DRAFT. This operation does not authorize or perform
        any provider or email action.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftInput'
      responses:
        '201': { description: DRAFT created }
        '200': { description: Idempotent DRAFT replay }
  /api/founder/os/bridge/v1/approvals:
    get:
      operationId: listFounderOsBridgeApprovalStatus
      summary: List approval lifecycle status and recorded outcomes
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [DRAFT, READY_FOR_APPROVAL, APPROVED, EXECUTING, SUCCEEDED, FAILED, UNKNOWN]
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        '200': { description: Approval summaries and terminal outcomes }
  /api/founder/os/bridge/v1/approvals/{id}:
    get:
      operationId: readFounderOsBridgeApprovalStatus
      summary: Read one approval lifecycle status and recorded outcome
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200': { description: Approval summary }
        '404': { description: Approval not found }
  /api/founder/os/bridge/v1/approvals/{id}/request-review:
    post:
      operationId: requestFounderOsBridgeReview
      summary: Move the exact DRAFT revision to READY_FOR_APPROVAL
      description: >-
        This is only a request for founder review. The bridge cannot move an
        item beyond READY_FOR_APPROVAL.
      parameters:
        - $ref: '#/components/parameters/EntityId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [expectedContentHash]
              properties:
                expectedContentHash:
                  type: string
                  pattern: '^sha256:[0-9a-f]{64}$'
      responses:
        '200': { description: Exact revision is ready for founder review }
  /api/founder/os/bridge/v1/providers:
    get:
      operationId: readFounderOsBridgeProviderHealth
      summary: Read configured, connected, scope, capability, and error states
      responses:
        '200':
          description: >-
            Redacted Meta and TikTok health plus explicit not-implemented,
            unknown-readiness records for Google Search Console, PostHog, and
            Vercel. Unknown records must not be presented as connected.
  /api/founder/os/bridge/v1/providers/{provider}/analytics:
    get:
      operationId: readFounderOsBridgeOwnedAnalytics
      summary: Read permitted owned-account analytics
      parameters:
        - in: path
          name: provider
          required: true
          schema: { type: string, enum: [meta, tiktok] }
      responses:
        '200': { description: Redacted owned analytics }
        '409': { description: Provider is not connected }
  /api/founder/os/bridge/v1/audit:
    get:
      operationId: listFounderOsBridgeAudit
      summary: Read redacted append-only audit metadata
      parameters:
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
        - in: query
          name: beforeId
          schema: { type: string, pattern: '^[0-9]+$' }
        - in: query
          name: entityType
          schema: { type: string, maxLength: 160 }
      responses:
        '200': { description: Cursor-paginated redacted audit entries }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    EntityId:
      in: path
      name: id
      required: true
      schema:
        type: string
        maxLength: 160
        pattern: '^[A-Za-z0-9][A-Za-z0-9._:-]*$'
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 120
        pattern: '^[A-Za-z0-9][A-Za-z0-9._:-]{7,119}$'
  schemas:
    DraftInput:
      oneOf:
        - $ref: '#/components/schemas/EmailDraft'
        - $ref: '#/components/schemas/InstagramContainerDraft'
        - $ref: '#/components/schemas/InstagramPublishDraft'
        - $ref: '#/components/schemas/TikTokUploadDraft'
      discriminator:
        propertyName: kind
    DraftBase:
      type: object
      description: >-
        Shared fields for each strict draft variant. Variant-specific schemas
        below define the permitted action payload; the server rejects unknown
        fields with its canonical Zod contract.
      required: [requestKey, targetLabel, payloadSummary, evidenceIds]
      properties:
        requestKey: { type: string, minLength: 8, maxLength: 120 }
        targetLabel: { type: string, minLength: 1, maxLength: 1000 }
        payloadSummary: { type: string, minLength: 1, maxLength: 10000 }
        evidenceIds:
          type: array
          maxItems: 20
          items: { type: string, maxLength: 160 }
    EmailDraft:
      allOf:
        - $ref: '#/components/schemas/DraftBase'
        - type: object
          required: [kind, prospectId, subject, body]
          properties:
            kind: { const: email-outreach }
            prospectId: { type: string, maxLength: 160 }
            subject: { type: string, maxLength: 998 }
            body: { type: string, maxLength: 20000 }
    InstagramContainerDraft:
      allOf:
        - $ref: '#/components/schemas/DraftBase'
        - type: object
          required: [kind, videoUrl, caption, shareToFeed]
          properties:
            kind: { const: instagram-reel }
            videoUrl: { type: string, format: uri }
            caption: { type: string, maxLength: 2200 }
            shareToFeed: { type: boolean }
    InstagramPublishDraft:
      allOf:
        - $ref: '#/components/schemas/DraftBase'
        - type: object
          required: [kind, creationId]
          properties:
            kind: { const: instagram-reel-publish }
            creationId: { type: string, maxLength: 256 }
    TikTokUploadDraft:
      allOf:
        - $ref: '#/components/schemas/DraftBase'
        - type: object
          required: [kind, videoUrl, founderConfirmedUpload]
          properties:
            kind: { const: tiktok-draft-upload }
            videoUrl: { type: string, format: uri }
            founderConfirmedUpload: { const: true }
    ProspectInput:
      type: object
      additionalProperties: true
      description: >-
        The server applies the canonical strict source, evidence, contact-origin,
        score-signal, market, segment, and verified beat-match schema.
