openapi: 3.1.0
info:
  title: VGP Founder OS Custom GPT Actions
  version: 2026-07-29.1
  description: Private, approval-gated actions for the VGP Founder OS CEO copilot.
servers:
  - url: https://www.virzyguns.com
paths:
  /api/founder/os/gpt/actions/brief:
    get:
      operationId: getFounderOsBrief
      summary: Read the current sanitized Founder OS brief
      description: Does not return email addresses, provider tokens, private message text, or approval payload bodies.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Sanitized founder brief
          content:
            application/json:
              schema:
                type: object
                required: [success, brief, requestId]
                properties:
                  success:
                    type: boolean
                    const: true
                  brief:
                    type: object
                    additionalProperties: true
                  requestId:
                    type: string
        "401":
          description: Missing or invalid Action secret
        "503":
          description: Founder OS database or Action authentication is not configured
  /api/founder/os/gpt/actions/catalog:
    get:
      operationId: searchFounderBeatCatalog
      summary: Search the verified VGP beat catalog
      description: Returns canonical beat IDs and URLs that may be used in a prospect handoff.
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: query
          required: false
          schema:
            type: string
            maxLength: 200
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        "200":
          description: Catalog matches
        "401":
          description: Missing or invalid Action secret
  /api/founder/os/gpt/actions/prospects:
    post:
      operationId: submitScoutedProspect
      summary: Submit a source-backed prospect for deterministic scoring
      description: Stores evidence and a backend-computed score. It cannot contact the prospect.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScoutedProspect"
      responses:
        "200":
          description: Existing idempotent prospect returned
        "201":
          description: Prospect scored and stored
        "400":
          description: Invalid or unsupported evidence
        "401":
          description: Missing or invalid Action secret
        "409":
          description: Policy or idempotency conflict
        "503":
          description: Founder OS database or Action authentication is not configured
  /api/founder/os/gpt/actions/drafts:
    post:
      operationId: createFounderOsDraft
      summary: Create an idempotent draft for founder review
      description: Creates DRAFT only. This action cannot stage, approve, execute, send, reply, or publish.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/EmailOutreachDraft"
                - $ref: "#/components/schemas/InstagramReelDraft"
                - $ref: "#/components/schemas/InstagramReelPublishDraft"
                - $ref: "#/components/schemas/TikTokDraftUpload"
              discriminator:
                propertyName: kind
      responses:
        "200":
          description: Existing idempotent draft returned
        "201":
          description: Draft created
        "400":
          description: Invalid draft
        "401":
          description: Missing or invalid Action secret
        "409":
          description: Policy or idempotency conflict
        "503":
          description: Founder OS database or Action authentication is not configured
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    DraftBase:
      type: object
      required: [requestKey, targetLabel, payloadSummary]
      properties:
        requestKey:
          type: string
          minLength: 8
          maxLength: 120
          pattern: "^[A-Za-z0-9][A-Za-z0-9._:-]*$"
          description: Stable unique key. Reuse it only when retrying the exact same draft.
        targetLabel:
          type: string
          minLength: 1
          maxLength: 1000
        payloadSummary:
          type: string
          minLength: 1
          maxLength: 10000
        evidenceIds:
          type: array
          maxItems: 20
          items:
            type: string
    EmailOutreachDraft:
      allOf:
        - $ref: "#/components/schemas/DraftBase"
        - type: object
          required: [kind, prospectId, subject, body]
          properties:
            kind:
              type: string
              const: email-outreach
            prospectId:
              type: string
            subject:
              type: string
              minLength: 1
              maxLength: 998
            body:
              type: string
              minLength: 1
              maxLength: 20000
    InstagramReelDraft:
      allOf:
        - $ref: "#/components/schemas/DraftBase"
        - type: object
          required: [kind, videoUrl, caption, shareToFeed]
          properties:
            kind:
              type: string
              const: instagram-reel
            videoUrl:
              type: string
              format: uri
            caption:
              type: string
              maxLength: 2200
            shareToFeed:
              type: boolean
    InstagramReelPublishDraft:
      allOf:
        - $ref: "#/components/schemas/DraftBase"
        - type: object
          required: [kind, creationId]
          properties:
            kind:
              type: string
              const: instagram-reel-publish
            creationId:
              type: string
              minLength: 1
              maxLength: 256
              pattern: "^[A-Za-z0-9._:-]+$"
              description: Provider reference from a succeeded, ready Meta Reel container action.
    TikTokDraftUpload:
      allOf:
        - $ref: "#/components/schemas/DraftBase"
        - type: object
          required: [kind, videoUrl, founderConfirmedUpload]
          properties:
            kind:
              type: string
              const: tiktok-draft-upload
            videoUrl:
              type: string
              format: uri
            founderConfirmedUpload:
              type: boolean
              const: true
              description: Use only after the founder explicitly asks to prepare this exact upload.
    EvidenceKeyList:
      type: array
      minItems: 1
      maxItems: 20
      items:
        type: string
        pattern: "^[A-Za-z0-9][A-Za-z0-9._:-]*$"
    QualificationSignal:
      type: object
      additionalProperties: false
      required: [strength, evidenceKeys, note]
      properties:
        strength:
          type: string
          enum: [high, medium, low, none]
        evidenceKeys:
          type: array
          maxItems: 20
          items:
            type: string
            pattern: "^[A-Za-z0-9][A-Za-z0-9._:-]*$"
        note:
          type: [string, "null"]
          maxLength: 2000
    ScoutedProspect:
      type: object
      additionalProperties: false
      required:
        - requestKey
        - displayName
        - handle
        - segment
        - market
        - platform
        - profileUrl
        - contact
        - evidence
        - qualificationSignals
        - beatMatches
      properties:
        requestKey:
          type: string
          minLength: 8
          maxLength: 120
          pattern: "^[A-Za-z0-9][A-Za-z0-9._:-]*$"
        displayName:
          type: string
          minLength: 1
          maxLength: 500
        handle:
          type: [string, "null"]
          maxLength: 255
        segment:
          type: string
          enum: [rapper, game-developer, content-creator]
        market:
          type: string
          enum: [en-US, ja-JP, de-DE]
        platform:
          type: string
          enum: [instagram, tiktok, youtube, website, other]
        profileUrl:
          type: [string, "null"]
          format: uri
        contact:
          type: object
          additionalProperties: false
          required: [businessEmail, permission, sourceEvidenceKey, origin]
          properties:
            businessEmail:
              type: [string, "null"]
              format: email
              maxLength: 320
            permission:
              type: string
              enum: [public-business-email, manual-only, blocked]
            sourceEvidenceKey:
              type: [string, "null"]
            origin:
              type: string
              const: source-provided
        evidence:
          type: array
          minItems: 1
          maxItems: 20
          items:
            type: object
            additionalProperties: false
            required: [key, label, url, observedAt]
            properties:
              key:
                type: string
                pattern: "^[A-Za-z0-9][A-Za-z0-9._:-]*$"
              label:
                type: string
                minLength: 1
                maxLength: 500
              url:
                type: string
                format: uri
              observedAt:
                type: string
                format: date-time
              note:
                type: string
                minLength: 1
                maxLength: 10000
        qualificationSignals:
          type: object
          additionalProperties: false
          required: [audienceFit, styleFit, purchaseIntent]
          properties:
            audienceFit:
              $ref: "#/components/schemas/QualificationSignal"
            styleFit:
              $ref: "#/components/schemas/QualificationSignal"
            purchaseIntent:
              $ref: "#/components/schemas/QualificationSignal"
        beatMatches:
          type: array
          maxItems: 10
          items:
            type: object
            additionalProperties: false
            required: [beatId, matchReason, evidenceKeys]
            properties:
              beatId:
                type: string
                minLength: 1
                maxLength: 160
              matchReason:
                type: string
                minLength: 1
                maxLength: 2000
              evidenceKeys:
                $ref: "#/components/schemas/EvidenceKeyList"
